//$primary: #1e197c;
$primary: #1E187B;
// $primary: #3f3c69;
$secondary: #6c757d;
$info: #2e9aaa;
$gray: #c2c2c2;
$offcanvas-horizontal-width: 250px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1560px,
);
